/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Poppins:wght@800&family=Teko:wght@300&display=swap');

* {
  font-family: 'Teko', sans-serif;
}

body {
  opacity: 1;
  background-image: radial-gradient(#000000 0.7000000000000001px, #969696 0.7000000000000001px);
  background-size: 14px 14px;
  height: 100vh;
}

